.landing-page-info{
	width: 100vw;
	height: 100vh;
	background-color: #fff;
	align-items: center;
	justify-content: center;
	font-family: Avenir Light;
}

.landing-info-container{
	width: 94vw;
	height: 90vh;
	background-color: #fff;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.landing-info-text{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width:100%;
	height: 30vh;
}
.info-text-container{
	width: 48%;
	height: 100%;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	.card(2);




}

.btc-logo-container{
	width: 10%;
	height: 30%;
	background-color: #4a91e3;
	border: 7px solid #457bd5;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;

	i{
		color: white;
		font-size: 3.3vw;

	}

}

.info-text{
	width: 80%;
}


.info-video-container{

}
#btc-video{
	
}



















