//Landing Page css
#landing-page{
	font-family: Avenir Light;
	width: 100vw;
	height: 100vh;
	a{
		text-decoration: none;
	}
	.landing-page-background{
		background-image: url('/img/background.png') ;
		background-size: 100%;
		width: 100vw;
		height: 70vh;
		
	}
	.landing-page-info{

	}	
}	


//Feel The Economy css
.feel-the-econ{
	p,h1{
		color: white;
	}
	

	.landing-top{

		height: 10vh;
		justify-content: space-between;
		
		.landing-top-set{
			align-items: center;
    		margin-left: 2%;
			#setcoins-landing-header{
				margin-left: 1vw;
				font-size: 1.5vw;
				color: #dadfe1;
			}
			#setmine-logo{
				height: 5.3vh;
				width: 2.5vw;
				margin: 0;
				color: #dadfe1 ;
			}
		}
		.landing-top-btc{
			padding-right: 2%;
			align-items: center;
			#btc-value{
				color: #dadfe1;
				font-size: 2vw%;
			}
		}

	}

	.landing-bottom {
		height: 45vh;
		flex-direction: row;

		.economy-container{
			width: 60vw;
			justify-content: space-around;
			height: 40vh;
			

			.economy-container-pt2{
				justify-content: space-around;
				
				#can-you-feel-it{
					font-size: 4.5vw;
				}
				.inequality{
					font-size: 1.5vw;
					
					p{
						margin-bottom: 3%;
					} 
				}
				
			}	
		}
		.video-container{
			width: 40vw;
			align-items: center;
			#video{
				
				height: 35vh;
				width: 35vw;
			}
		}
		
	}
	.button-container{
		height: 15vh;

		.button-container-2{
			width: 60vw;
			justify-content: space-around;
			.join-movement{
				margin-right: 24vw;
				background-color: #fdb802;
				width: 20vw;
				height: 10vh;
				border-radius: 8px;
				justify-content: center;
				align-items: center;
				color: #f5d76e;
				font-size: 1.5vw;
				box-shadow: none;
				justify-content: space-around;

				.fa-facebook{
					color: white;
					font-size: 2.5vw;
				}
			}
		}	
		.buffer{
			width: 40vw;
		}	

	}	
}

//Media Query

/* Narrow */


@media only screen and (max-width: 480px) {
 	.landing-bottom{
 		flex-direction: column;
 		
 		background-color: red;
 	}
 	.join-movement{
				margin-right: 24vw;
				background-color: #fdb802;
				width: 40vw;
				height: 10vh;
				border-radius: 8px;
				justify-content: center;
				align-items: center;
				color: #f5d76e;
				font-size: 6000vw;
				box-shadow: none;
				justify-content: space-around;

				.fa-facebook{
					color: white;
					font-size: 2.5vw;
				}
			}
 	
 } 


















