//Landing Page css
#landing-page{

	width: 100vw;
	height: 100vh;
	.landing-page-background{
		background-image: url('/img/background.png') ;
		background-size: 100%;
		width: 100vw;
		height: 70vh;
		
	}
	.landing-page-info{

	}	
}	


//Feel The Economy css
.feel-the-econ{
	p,h1{
		color: white;
	}
	width: 100%;
	height: 100%;

	.landing-top{
		height: 35%;
		justify-content: space-between;
		h1{
			font-size: 120%;
			
		}
		.landing-top-set{
			align-items: flex-end;
			#setcoins-landing-header{
				
			}
			#setmine-logo{
				height: 30%;
				width: 4%;
				margin: 0;
			}
		}

	}

	.landing-bottom {
		height: 65%;
		
	}

	.feel-econ-container{
		width: 55%;

	}
	.video-container{
		width: 40%;
	}
}

